<div>
    <app-header-back-burger></app-header-back-burger>
    <main class="ml-8 mr-8">
        <h1 class="font-bold text-2xl">Create campaign</h1>
        <h2 class="font-semibold text-neutral-500">Select the organisation you would like to
            make a promise to and specify the amount
        </h2>

        <div class="mt-5 flex flex-col items-start w-84 ">
            <label for="slogan">Slogan</label>
            <textarea name="slogan" maxlength="80" class="p-1 outline-none border-2 border-gray-400 rounded-md w-full h-12"></textarea>
        </div>

        <div class="mt-5 flex flex-col items-start w-84 ">
            <label for="mission-statement">Mission statement</label>
            <textarea name="mission-statement"  class="h-40 outline-none border-2 border-gray-400 rounded-md w-full"></textarea>
        </div>

        <div class="mt-4">
            <label for="thesis" class="flex">
                <img src="assets/attach.svg" alt="attach" class="mr-4">
                <span>Attach thesis</span>
            </label>
            <input type="file" name="thesis" id="thesis" class="hidden">
        </div>

        <button class="mt-8 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Next</button>
    </main>
</div>
