<div>
    <app-header-back-burger></app-header-back-burger>

    <main>
        <h1>Find a campaign</h1>
        <h2>Take a look at this year's campaigns</h2>

        <img src="assets/search.svg" alt="search">
        <input type="text" placeholder="Search for a campaign">

        <div>
            <span>Filter by</span>
            <img src="assets/chevron-down.svg" alt=">">
        </div>

        <div>
            <div class="campaign-card">
                <img src="assets/barrack.png" alt="profile">
                <span>Barrack Obama</span>
                <span><b>Mission</b> Decrease unemployment by 6%</span>
                <span><b>Budget</b> R18m</span>
                <button>View campaign</button>
            </div>

            <div class="campaign-card">
                <img src="assets/barrack.png" alt="profile">
                <span>Barrack Obama</span>
                <span><b>Mission</b> Decrease unemployment by 6%</span>
                <span><b>Budget</b> R18m</span>
                <button>View campaign</button>
            </div>

            <div class="campaign-card">
                <img src="assets/barrack.png" alt="profile">
                <span>Barrack Obama</span>
                <span><b>Mission</b> Decrease unemployment by 6%</span>
                <span><b>Budget</b> R18m</span>
                <button>View campaign</button>
            </div>
        </div>
    </main>
</div>