@if (showMenu) {<app-menu></app-menu>}
@else {
<div>
    <app-header-back-burger backRoute="/campaign"></app-header-back-burger>

    <main class="ml-8 mr-8">
        <h1 class="font-bold text-xl mb-7">Promise</h1>
        <h2 class="text-sm"><b>Barrack Obama</b> is pledging R1m to <b>North-West University</b> to decrease unemployment by 6%</h2>

        <div class="mt-6 text-sm" *ngIf="promise">
            <h2><b>Organisation: </b> {{organisationName}}</h2>
            <h2><b>Organisation wallet: </b> {{promise.smart_contract_address}}</h2>
            <h2><b>Value: </b> R{{promise.promise_value}}</h2>
            <h2><b>Date created: </b> {{promise.promise_timestamp}}</h2>
            <h2 *ngIf="transactionId"><b>Transaction id: </b>{{transactionId}}</h2>
            <h2 *ngIf="!transactionId"><b>Transaction id: </b>PENDING</h2>
          </div>
    </main>
</div>
}