<div>
    <app-header-back-burger></app-header-back-burger>

    <main>
        <h1>Promise</h1>
        <h2><b>Barrack Obama</b> is pledging R1m to <b>North-West University</b> to decrease unemployment by 6%</h2>
        <br>

        <div>
            <span><b>Organisation: </b> North-West University</span>
            <span><b>Organisation wallet: </b> 123abc</span>
            <span><b>Value: </b> R1 000 000 000</span>
            <span><b>Complete: </b> No</span>
            <span><b>Date created: </b> 2024-10-09</span>
            <span><b>Transaction id: </b> 1</span>
        </div>
    </main>
</div>