@if (showMenu) {<app-menu></app-menu>}
@else {
<div>
    <app-header-back-burger></app-header-back-burger>

    <main class="ml-8 mr-8">
        <h1 class="font-bold text-xl">Vote now</h1>
        <h2 class="text-sm my-4">Enter campaign ID or navigate to campaigns page and vote from there</h2>

        <input type="search" placeholder="Campaign ID" class="outline-none mt-10 p-2 w-full">
        <button class="mt-8 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Next</button>
    </main>
</div>
}