<div>
    <app-header-back-burger></app-header-back-burger>

    <main>
        <h1>Change we can believe in</h1>
        <img src="assets/verified.svg">
        <p>My mission is to decrease unemployment by 6%</p>

        <h2>Barrack Obama</h2>
        <button>Vote</button>

        <div class="stats-block">
             <div class="stats-block-card">
                <h3>20M</h3>
                <p>votes</p>
             </div>

             <div class="stats-block-card">
                <h3>100</h3>
                <p>Promises</p>
             </div>

             <div class="stats-block-card">
                <h3>400B</h3>
                <p>Budget</p>
             </div>
        </div>

        <h2>Promises</h2>
        <p>Click on the promise to learn more</p>

        <div class="promises-list">
            <div class="promise-block border-2 border-black">
                <span>North-West Univerity</span>
                <span>R100m</span>
            </div>
            <div class="promise-block border-2 border-black">
                <span>North-West Univerity</span>
                <span>R100m</span>
            </div>
            <div class="promise-block border-2 border-black">
                <span>North-West Univerity</span>
                <span>R100m</span>
            </div>
            <div class="promise-block border-2 border-black">
                <span>North-West Univerity</span>
                <span>R100m</span>
            </div>
        </div>
    </main>
</div>