@if (showMenu) {<app-menu></app-menu>}
@else {
    <div>
        <app-header-logo-burger></app-header-logo-burger>
        <main class="ml-8 mr-8">
            <span class="font-bold">Welcome back, <br>Barrack</span>
    
        <div class="pt-4">
            <span class="text-zinc-500 text-sm font-bold">Stats</span>
            <div class="flex">
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">{{numberOfVotes}}K</h1>
                    <p class="font-bold text-xs text-zinc-500">Votes</p>
                </div>
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">{{numberOfCampaigns}}</h1>
                    <p class="font-bold text-xs text-zinc-500">Campaigns</p>
                </div>
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">400B</h1>
                    <!-- Hard coded for now-->
                    <p class="font-bold text-xs text-zinc-500">Budget</p>
                </div>
            </div>
        </div>
    
        <div class="pt-4">
            <span class="text-zinc-600 text-sm font-bold">Top campaigns</span>
            <div class="campaign-card-map">
                <app-campaign-card-mini></app-campaign-card-mini>
                <app-campaign-card-mini></app-campaign-card-mini>
                <app-campaign-card-mini></app-campaign-card-mini>
                <app-campaign-card-mini></app-campaign-card-mini>
                <app-campaign-card-mini></app-campaign-card-mini>
            </div>
        </div>
    
        <div>
            <button [routerLink]="['/vote']" routerLinkActive="router-link-active" class="mt-8 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Vote now</button>
            <button [routerLink]="['/campaign/create']" routerLinkActive="router-link-active" class="mt-2 bg-stone-400 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Create campaign</button>
        </div>
    </main>
    </div>
}