<div *ngFor="let campaign of campaigns" [routerLink]="['/campaign']" routerLinkActive="router-link-active" class="flex campaign-card shadow-md p-4 rounded-lg bg-white mt-3">
    <img src="assets/barrack.png" alt="profile" class="object-none">
    <div *ngIf="campaign" class="flex flex-col pl-2">
        <span class="font-bold">{{ campaignOwnerNames[campaign.campaigner_id] }}</span>
        <span class="text-xs pt-2"><b>Mission</b> {{campaign.mission_statement}}</span>
        <span class="text-xs pt-2"><b>Budget</b> ${{campaignBudgets[campaign.campaign_id]}}</span>
        <button class="mt-4 bg-gray-800 rounded-md p-1 text-zinc-100 text-xs">View campaign</button>
    </div>
</div>