<div>
    <app-header-back></app-header-back>

    <div class="flex flex-col items-center">
        <div class="flex justify-center -mt-12">
            <img class="p-10 rounded-full h-44 w-44" src="assets/barrack.png" alt="avi">
        </div>
        <h1 class="-mt-8 font-bold text-sm">Edit profile</h1>
    </div>

    <main class="ml-8 mr-8">

        <div class="flex mt-6">
            <h1 class="font-bold text-xl">Barrack Obama</h1>
            <img src="assets/verified.svg" alt="verified">
        </div>
    
        <div class="card-map">
            <span class="font-semibold text-neutral-400">Personal information</span>
            
                <h2 class="text-xs font-semibold mt-5">Name</h2>
                <p class="mb-3 font-semibold text-sm">Barrack Obama</p>
                
                <h2 class="text-xs font-semibold">Email</h2>
                <p class="mb-3 font-semibold text-sm">{{"barrack@potus.org"}}</p>
                
                <h2 class="text-xs font-semibold">Wallet Address</h2>
                <p class="mb-3 font-semibold text-sm">123abc</p>
                
                <h2 class="text-xs font-semibold">Gender</h2>
                <p class="mb-3 font-semibold text-sm">M</p>
        </div>
    
        <div>
            <button class="mt-8 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Vote now</button>
        </div>
    </main>
</div>