@if (showMenu) {<app-menu></app-menu>}
@else {
<div>
    <app-header-back-burger backRoute="/campaign/create"></app-header-back-burger>
    <main class="ml-8 mr-8">
        <h1 class="font-bold text-2xl">Create promise</h1>
        <h2 class="font-semibold text-neutral-500">Select the organisation you would like to
            make a promise to and specify the amount
        </h2>

        <div class="flex mt-4 bg-white p-2 rounded-md shadow-md">
            <img src="assets/search.svg">
            <input type="search" [(ngModel)]="organisation_id" placeholder="Organisation" class="pl-2 outline-none w-full">
        </div>

        <div class="flex mt-4 bg-white p-2 rounded-md shadow-md">
            <img src="assets/dollar.svg">
            <input type="number" [(ngModel)]="value" placeholder="Amount" class="pl-2 outline-none w-full">
        </div>

        <div class="my-4">
            <span class="text-neutral-500">ⓘ You can keep adding promises. Once you’re done, you may publish your campaign </span>
        </div>

        <div>
            <button (click)="createPromise()"  routerLinkActive="router-link-active" class="mt-8 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Add promise</button>
            <button [routerLink]="['/']" routerLinkActive="router-link-active" class="mt-2 bg-stone-400 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Publish campaign</button>
        </div>
    </main>
</div>
}