<div>
    <app-header-back-burger></app-header-back-burger>
    <main>
        <span>Create promise</span>
        <span>Select the organisation you would like to
            make a promise to and specify the amount
        </span>

        <div>
            <img src="assets/search.svg">
            <input type="text" placeholder="Organisation" class="border-2 border-black">
        </div>

        <div>
            <img src="assets/dollar.svg">
            <input type="text" placeholder="Amount" class="border-2 border-black">
        </div>

        <div>
            <span>ⓘ You can keep adding promises. Once you’re done, you may publish your campaign </span>
        </div>

        <button>Add promise</button>
        <button>Publish campaign</button>
    </main>
</div>
