@if (showMenu) {<app-menu></app-menu>}
@else {
    <div>
    <app-header-back-burger backRoute="/campaigns"></app-header-back-burger>

    <main class="ml-8 mr-8" *ngIf="campaign">

        <p class="inline-flex items-center flex-wrap font-bold text-xl text-wrap w-fit">
            {{campaign.slogan}}&nbsp;
            <span><img src="assets/verified.svg" alt="Verified"/></span>
        </p>

        <p class="my-4">My <b>mission</b> is to {{campaign.mission_statement}}</p>

        <h2 class="font-bold mt-6">{{campaign.user_name}}</h2>
        <button *ngIf="!isOwner" class="mt-5 bg-gray-800 text-neutral-100 w-full rounded-md p-3 font-semibold text-xs">Vote</button>
        <button (click)="onDelete()" *ngIf="isOwner" class="mt-5 bg-red-400 text-white w-full rounded-md p-3 font-semibold text-xs">Delete campaign</button>

        <div class="pt-4 w-full">
            <div class="flex">
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">{{campaign.num_votes }}K</h1>
                    <p class="font-bold text-xs text-zinc-500">Votes</p>
                </div>
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">{{campaign.num_promise }}</h1>
                    <p class="font-bold text-xs text-zinc-500">Promise</p>
                </div>
                <div class="stat-card bg-white rounded-md mr-4 p-2 w-24 min-h-18 text-center">
                    <h1 class="font-bold text-black">{{ campaign.promise_value_sum | currency:'USD':'symbol':'0.0-1' }}</h1>
                    <p class="font-bold text-xs text-zinc-500">Budget</p>
                </div>
            </div>
        </div>

        <h2 class="text-zinc-600 text-sm font-bold mt-5">Promises</h2>
        <p class="text-neutral-500 mb-4">Click on the promise to learn more</p>

        <div class="promises-map">
            <app-promise-card-mini></app-promise-card-mini>
        </div>
    </main>
</div>
}