<div class="flex flex-col min-h-screen">
    <app-header-close></app-header-close>

    <main class="flex-grow flex flex-col justify-center items-center">
        <button routerLink="/" class="bg-white shadow-md m-2 justify-center shadow-gray-300 w-52 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Home</button>
        <button routerLink="/campaigns"  class="bg-white shadow-md m-2 justify-center shadow-gray-300 w-52 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Campaigns</button>
        <button [routerLink]="['/profile']" class="bg-white shadow-md m-2 justify-center shadow-gray-300 w-52 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">My profile</button>
        <button routerLink="/contact-developers" class="bg-white shadow-md m-2 justify-center shadow-gray-300 w-52 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Contact developers</button>
    </main>

    <footer class="text-center mt-auto py-16">
        9 dream. 2024
    </footer>
</div>
